.categories-container {
  width: 100%;
  max-height: 100vh;
  margin-top: 80px;
  display: flex;
  flex-wrap: wrap;
  // display: grid;
  // grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
}
